.side-filters{
    padding:15px;
    width:380px;
    height:100%;
    border-right: 1px solid #CBD5E1; /* Вертикальная линия */
    position: relative; /* Обеспечивает позиционирование дочерних элементов */
    background: #fff;
    overflow: visible; /* Убедитесь, что тень не обрезается */



    .links-list{
        .link-element{
            width: 250px;
            height: 35px;
            font-size: 16px;
            margin-bottom:0;


            display: flex;
            align-items: center;
            justify-content: left;
            padding-left: 12px;
            font-family:'Montserrat', sans-serif;
            font-weight: 500;
            color: #333333;
            background-color: white;
            border-radius: 15px;
            cursor: pointer;

            &:hover{
                background-color: #6CACE4;
                color: #FFFFFF;
            }
        }
    }

    .filters_title{
        height:29px;
        font-size: 22px;
        font-family:'Montserrat', sans-serif;
        font-weight: 600;
    }

    .VTZ-filter{
        font-size: 16px;
        font-family:'Montserrat', sans-serif;
    }

    .filters-container {
        display: flex;
        flex-direction: column;
        width: 300px;
        max-height: 400px; /* высота для скролла */
        overflow-y: auto; /* скролл */
        padding: 10px; /* внутренние отступы */
        gap: 5px; /* расстояние между элементами */
        border: 1px solid #ddd; /* Граница для отделения */
        border-radius: 5px; /* Скругленные углы */
        background-color: #fff; /* Белый фон */
    }



    .filters-container::-webkit-scrollbar {
        width: 5px;               /* ширина scrollbar */
    }
    .filters-container::-webkit-scrollbar-track {
        background: white;        /* цвет дорожки */
    }
    .filters-container::-webkit-scrollbar-thumb {
        background-color: #CBD5E1;    /* цвет плашки */
        border-radius: 20px;       /* закругления плашки */
    }






    .side-filters::after {
        content: ''; /* Псевдоэлемент для границы */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border: 1px solid #CBD5E1; /* Граница */
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.5); /* Тень */
        z-index: 10; /* Изменено на 1, чтобы псевдоэлемент был поверх */
    }

    .content {
        flex: 1; /* Основной контент занимает оставшееся пространство */
        padding: 20px;
        margin-left: 350px; /* Отступ под ширину бокового меню */
        z-index: 1;
    }

}